.certificate{
    padding-top: 48px;
    padding-bottom: 48px;
    .title{
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        color: #2C2D2E;
        text-align: center;
        margin-bottom: 31px;
        span{
            color: #EF7C00;
            
        }
    }

    .owl-nav{
        position: relative;
        bottom: 200px;
        .owl-prev{
            position: absolute;
            left: -64px;
            width: 27px;
            background: none;
            &:hover{
                background: none;
            }
            &__btn{
                background: none;
                &:hover{
                    background: none;
                }
            }
        }
        .owl-next{
            position: absolute;
            right: -32px;
            width: 27px;
            background: none;
            &:hover{
                background: none;
            }
            &__btn{
                background: none;
                &:hover{
                    background: none;
                }
            }
        }
    }

    .owl-theme .owl-dots .owl-dot span {
        width: 10px;
        height: 10px;
        background: none;
        display: block;
        transition: opacity .2s ease;
        border-radius: 30px;
        border: 1px solid #EF7C00;
    }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
        background: #EF7C00;
    }
}