.footer{
    height: 403px;
    background: rgba(0, 16, 61, 0.06);
    padding: 30px 0 30px 0;
    &__btn{
        width: 68px;
        height: 68px;
        box-shadow: 0px 4px 32px rgba(0, 16, 61, 0.16);
        border-radius: 58px;
        background: #FFFFFF;
        border: none;
        position: relative;
        top: 50%;
        text-align: center;
        line-height: 68px;
    }
    &__link{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 26px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            bottom: -10px;
            width: 100%;
            height: 1px;
            background: #919399;
        }
        &-social{
            display: flex;
            gap: 24px;
            align-items: flex-end;
        }
        &-main{
            width: 116px;
        }
    }
    &__nav{
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        &-item{
            width: 203px;
            &-block{
                margin-bottom: 24px;
            }
            &-country{
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;   
                color: #EF7C00;
                margin-bottom: 12px;
            }
            &-tel{
                font-weight: 500;
                font-size: 15px;
                line-height: 20px;    
                color: #2C2D2E;
                margin-bottom: 8px; 
            }
            &-title{
                font-weight: 600;
                font-size: 24px;
                line-height: 28px;
                color: #2C2D2E;
                margin-bottom: 24px;
            }
        }
        &-link{
            margin-bottom: 12px;
            &-desc{
                font-weight: 500;
                font-size: 16px;
                line-height: 24px; 
                color: #2C2D2E;
                margin-top: 12px;
            }
        }
    }
    &__finish{
        width: 300px;
        font-weight: 500;
        font-size: 13px;
        line-height: 13px;
        color: #919399;
    }
}