@media screen and (max-width: 1100px) {

    .header{
        &__logo{
            order: 2;
        }
        .lang{
            order: 3;
        }
    }
    .nav{

        .BurgerMenu{
            width: 30px;
            position: static;
            order: 1;
            margin-left: 15px;
            margin-top: 15px;
        }
        &__list{
            display: none;
            flex-direction: column;
            text-align: center;
            position: fixed;
            top: 60px;
            left: 100px;
            transform: translateX(-50%);
            width: 200px;
            gap: 0;
            transition: 0.5s;
            z-index: 2;
            background: #fff;
            transition: 0.4s;
            min-height: 100vh;
            &-item{
                text-align: center;
                &::before{
                    display: none;
                }
            }
            &-link{
                &:hover{
                    color: #EF7C00;;
                }
            }
            &.active{
                display: flex;
            }
            
            
        }
    

    }
}


@media screen and (max-width: 990px) {
    .info{
        &-card{
            width: 800px;
        }
    }

    .about{
        &__img{
            width: 330px;
        }
        p{
            width: 400px;
            font-size: 13px;
            margin-bottom: 15px;
        }
    }

    .news{
        &__img{
            width: 230px;
        }
    }

    .contacts{
        &__street{
            width: 150px;
        }
        &__address{
            width: 150px;
            font-size: 13px;
        }
        &__number{
            font-size: 13px;
        }
    }
    .footer{
        height: 550px;
    }
}


@media screen and (max-width: 770px) {
    .info{
        &-card{
            width: 700px;
        }
    }
    .about{
        &__img{
            width: 300px;
        }
        p{
            width: 300px;
            font-size: 13px;
            margin-bottom: 10px;
        }
    }
    .owl-carousel{
        width: 100%;
    }
    .home .slide-item__desc{
        width: 350px;
    }
}

@media screen and (max-width: 600px) {
    .info{
        &-card{
            width: 520px;
        }
        &__form{
            margin-top: 10px;
        }
    }

    .about{
        &__img{
            width: 250px;
        }
        p{
            width: 250px;
            font-size: 13px;
            margin-bottom: 10px;
        }
    }

    .news{
        &__img{
            width: 160px;
        }
    }

    .owl-prev{
        position: absolute;
        left: -44px;
        width: 20px;
    }
    .owl-prev{
        position: absolute;
        left: -24px;
        width: 20px;
    }
    .footer{
        height: 750px;
    }
    .owl-carousel{
        width: 100%;
    }
    .products{
        .tabs__caption{
            display: flex;
            gap: 5px;
            justify-content: center;
            list-style-type: none;
        }
        .products-nav{
            position: relative;
            bottom: 200px;
            .products-prev{
                position: absolute;
                left: -24px;
                width: 10px;
            }
            .products-next{
                position: absolute;
                right: -15px;
                width: 10px;
            }
        }
    }
    .certificate{
        .owl-nav{
            position: relative;
            bottom: 200px;
            .owl-prev{
                position: absolute;
                left: -54px;
                width: 10px;
            }
            .owl-next{
                position: absolute;
                right: -5px;
                width: 10px;
            }
        }
    }
    
}

@media screen and (max-width: 420px) {
    .info{
        &-card{
            width: 400px;
            margin-left: -5px;
        }
        &__form{
            margin-top: 10px;
        }
        &__title{
            font-weight: 600;
            font-size: 20px;
            margin-bottom: 5px;
        }
        &__desc{
            font-size: 13px;
            width: 300px;
        }
        &__form{
            width: 380px;
            &-text{
                width: 300px;
            }
        }
    }
    .history__desc{
        width: 400px;
    }
    .about{
        &__img{
            width: 390px;
        }
        p{
            width: 400px;
            font-size: 13px;
            margin-bottom: 10px;
        }
        .row{
            flex-direction: column;
            row-gap: 20px;
        }
    }

    .home .slide-item__desc{
        width: 300px;
    }

    .header{
        padding-top: 10px;
    }

    .news{
        .row{
            flex-direction: column;
            .col-4{
                width: 400px;
            }
        }
        &__img{
            width: 385px;
        }
    }
    .footer__nav-item{
        width: 150px;
    }

    .contacts{
        .row{
            flex-direction: column;
            .col-3{
                width: 400px;
                text-align: center;
            }
        }
        &__address{
            width: 400px;
        }
        &__street{
            width: 400px;
        }
        &__country{
            margin-top: 20px;
        }
        &__tel{
            margin-top: 10px;
        }
    }
    .products{
        .owl-carousel{
            width: 80%;
            margin: 0 auto;
        }
    }
    .certificate{
        .owl-carousel{
            width: 80%;
            margin: 0 auto;
        }
    }

    .tabs__title{
        font-size: 20px;
    }
    
}

