.news{
    padding-top: 40px;
    padding-bottom: 51px;
    &__title{
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        text-align: center;
        color: #2C2D2E;
        margin-bottom: 32px;
        &-center{
            text-align: center;
        }
    }
    &__date{
        font-weight: 500;
        font-size: 13px;
        line-height: 13px;
        color: #919399;
        margin-top: 24px;
        margin-bottom: 8px;
    }
    &__desc{
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: #2C2D2E;
    }
}