@charset "UTF-8";
@import url("../libs/bootstrap/css/bootstrap-grid.min.css");
@import url(../src/fonts/Montserrat/montserrat.css);
@import url(../libs/owl/owl.carousel.min.css);
@import url(../libs/owl/owl.theme.default.min.css);
@import url(https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth; /* свойство scroll-behavior не наследуется, применяется к прокручиваемым блокам */
}

.header {
  background: #FFFFFF;
  box-shadow: 0px 4px 32px rgba(0, 16, 61, 0.16);
  z-index: 2;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.nav .BurgerMenu {
  display: none;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nav .BurgerMenu__line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #000;
  transition: 0.5s;
}
.nav .BurgerMenu__line:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.nav .BurgerMenu__line:nth-child(3) {
  top: 100%;
}
.nav .BurgerMenu.active :nth-child(2) {
  rotate: 45deg;
}
.nav .BurgerMenu.active :nth-child(1) {
  display: none;
}
.nav .BurgerMenu.active :nth-child(3) {
  top: 50%;
  transform: translateY(-50%);
  rotate: -45deg;
}
.nav__list {
  display: flex;
  gap: 32px;
  list-style-type: none;
  position: relative;
}
.nav__list-link:hover {
  color: #EF7C00;
}
.nav__list .dropdown {
  position: absolute;
  left: -63px;
  top: 100%;
  display: none;
  flex-direction: column;
  padding: 16px 24px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 16, 61, 0.12);
  border-radius: 0px 0px 4px 4px;
  z-index: 2;
}
.nav__list .dropdown__item {
  white-space: nowrap;
  margin-bottom: 16px;
}
.nav__list .dropdown__item:hover {
  color: #EF7C00;
}
.nav__list .dropdown__item:last-child {
  margin-bottom: 0;
}
.nav__list-item {
  padding: 28px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  transition: 0.5s;
  position: relative;
}
.nav__list-item:hover .dropdown {
  display: flex;
}
.nav__list-item::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 1px;
  background: rgba(0, 16, 61, 0.12);
  right: -16px;
  top: 50%;
  transform: translateY(-50%);
}
.nav__list-item:last-child::before {
  display: none;
}
.nav .lang {
  display: flex;
  gap: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #919399;
}
.nav .lang__item {
  border: none;
  background: transparent;
  transition: 0.5s;
  cursor: pointer;
  position: relative;
}
.nav .lang__item::before {
  content: "";
  position: absolute;
  height: 23px;
  width: 1px;
  background: rgba(0, 16, 61, 0.12);
  right: -4px;
  top: 50%;
  transform: translateY(-50%);
}
.nav .lang__item:last-child::before {
  display: none;
}
.nav .lang__item.active {
  color: #EF7C00;
}

.home {
  position: relative;
}
.home .owl-theme .owl-nav.disabled + .owl-dots {
  position: absolute;
  left: 116px;
  bottom: 40px;
}
.home .owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  background: none;
  display: block;
  transition: opacity 0.2s ease;
  border-radius: 30px;
  border: 1px solid #EF7C00;
}
.home .owl-theme .owl-dots .owl-dot.active span, .home .owl-theme .owl-dots .owl-dot:hover span {
  background: #EF7C00;
}
.home .slide-item {
  padding: 160px 0 155px 0;
}
.home .slide-item_first {
  background: url("../src/img/1.jpg") center/cover;
}
.home .slide-item_second {
  background: url("../src/img/2.jpg") center/cover;
}
.home .slide-item_third {
  background: url("../src/img/3.jpg") center/cover;
}
.home .slide-item__subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  display: flex;
  align-items: center;
  color: #2C2D2E;
  margin-bottom: 16px;
}
.home .slide-item__title {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: #2C2D2E;
  margin-bottom: 17px;
}
.home .slide-item__desc {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #2C2D2E;
  margin-bottom: 26px;
  width: 546px;
}
.home .slide-item__link {
  padding: 10px 20px;
  background: #EF7C00;
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}

.about {
  padding-top: 40px;
  padding-bottom: 56px;
}
.about .title {
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #2C2D2E;
}
.about .title span {
  color: #EF7C00;
}
.about p {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #2C2D2E;
  width: 552px;
}
.about p:last-child {
  margin-bottom: 0;
}

.certificate {
  padding-top: 48px;
  padding-bottom: 48px;
}
.certificate .title {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #2C2D2E;
  text-align: center;
  margin-bottom: 31px;
}
.certificate .title span {
  color: #EF7C00;
}
.certificate .owl-nav {
  position: relative;
  bottom: 200px;
}
.certificate .owl-nav .owl-prev {
  position: absolute;
  left: -64px;
  width: 27px;
  background: none;
}
.certificate .owl-nav .owl-prev:hover {
  background: none;
}
.certificate .owl-nav .owl-prev__btn {
  background: none;
}
.certificate .owl-nav .owl-prev__btn:hover {
  background: none;
}
.certificate .owl-nav .owl-next {
  position: absolute;
  right: -32px;
  width: 27px;
  background: none;
}
.certificate .owl-nav .owl-next:hover {
  background: none;
}
.certificate .owl-nav .owl-next__btn {
  background: none;
}
.certificate .owl-nav .owl-next__btn:hover {
  background: none;
}
.certificate .owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  background: none;
  display: block;
  transition: opacity 0.2s ease;
  border-radius: 30px;
  border: 1px solid #EF7C00;
}
.certificate .owl-theme .owl-dots .owl-dot.active span, .certificate .owl-theme .owl-dots .owl-dot:hover span {
  background: #EF7C00;
}

.products {
  padding-top: 40px;
  padding-bottom: 50px;
}
.products__btn {
  margin-top: 58px;
  text-align: center;
}
.products__link {
  padding: 10px 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #EF7C00;
  border-radius: 5px;
  border: 2px solid #EF7C00;
}
.products .tabs__content {
  display: none; /* по умолчанию прячем все блоки */
}
.products .tabs__content.active {
  display: block; /* по умолчанию показываем нужный блок */
}
.products .title {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #2C2D2E;
  margin-bottom: 32px;
}
.products .title span {
  color: #EF7C00;
}
.products .tabs__caption {
  display: flex;
  gap: 64px;
  justify-content: center;
  list-style-type: none;
}
.products .tabs__caption .tabs__title {
  padding: 13px 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: #EF7C00;
  border-radius: 61px;
  border: 1px solid rgb(207, 207, 207);
  cursor: pointer;
  margin-bottom: 48px;
}
.products .tabs__caption .tabs__title.active {
  background: #EF7C00;
  border: none;
  color: #FFFFFF;
}
.products .products-nav {
  position: relative;
  bottom: 200px;
}
.products .products-nav .products-prev {
  position: absolute;
  left: -54px;
  width: 27px;
  background: none;
}
.products .products-nav .products-prev:hover {
  background: none;
}
.products .products-nav .products-prev__btn {
  background: none;
}
.products .products-nav .products-prev__btn:hover {
  background: none;
}
.products .products-nav .products-next {
  position: absolute;
  right: -64px;
  width: 27px;
  background: none;
}
.products .products-nav .products-next:hover {
  background: none;
}
.products .products-nav .products-next__btn {
  background: none;
}
.products .products-nav .products-next__btn:hover {
  background: none;
}
.products .owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  background: none;
  display: block;
  transition: opacity 0.2s ease;
  border-radius: 30px;
  border: 1px solid #EF7C00;
}
.products .owl-theme .owl-dots .owl-dot.active span, .products .owl-theme .owl-dots .owl-dot:hover span {
  background: #EF7C00;
}

.info {
  padding-top: 90px;
  padding-bottom: 80px;
  margin: 0;
}
.info-card {
  background: url("../src/img/form_banner 1.png") center;
  width: 1150px;
  height: 376px;
  padding: 24px 20px;
  box-shadow: #2C2D2E;
  border-radius: 10px;
  box-shadow: 0 -3em 3em rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}
.info__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #2C2D2E;
  margin-bottom: 16px;
}
.info__title span {
  color: #EF7C00;
}
.info__desc {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #2C2D2E;
  width: 400px;
}
.info__form {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  gap: 12px;
  margin-top: 36px;
}
.info__form-name {
  position: relative;
  overflow: hidden;
}
.info__form-name-logo {
  position: absolute;
  padding: 13px;
  border-right: 1px solid rgb(201, 201, 201);
}
.info__form-name-title {
  width: 217px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid rgb(201, 201, 201);
}
.info__form-name-title::-moz-placeholder {
  padding-left: 51px;
  color: #919399;
}
.info__form-name-title:-ms-input-placeholder {
  padding-left: 51px;
  color: #919399;
}
.info__form-name-title::placeholder {
  padding-left: 51px;
  color: #919399;
}
.info__form-tel {
  position: relative;
  overflow: hidden;
}
.info__form-tel-logo {
  position: absolute;
  padding: 13px;
  border-right: 1px solid rgb(201, 201, 201);
}
.info__form-tel-title {
  width: 217px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid rgb(201, 201, 201);
}
.info__form-tel-title::-moz-placeholder {
  padding-left: 51px;
  color: #919399;
}
.info__form-tel-title:-ms-input-placeholder {
  padding-left: 51px;
  color: #919399;
}
.info__form-tel-title::placeholder {
  padding-left: 51px;
  color: #919399;
}
.info__form-text {
  width: 446px;
  height: 80px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 16, 61, 0.12);
  border-radius: 4px;
}
.info__form-text::-moz-placeholder {
  padding-top: 10px;
  padding-left: 12px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #919399;
}
.info__form-text:-ms-input-placeholder {
  padding-top: 10px;
  padding-left: 12px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #919399;
}
.info__form-text::placeholder {
  padding-top: 10px;
  padding-left: 12px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #919399;
}
.info__form-btn {
  padding: 10px 20px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  background: #EF7C00;
  border-radius: 4px;
  border: none;
}

.team {
  padding-bottom: 50px;
}
.team .row {
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.team__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #2C2D2E;
  margin-bottom: 32px;
}
.team__title span {
  color: #EF7C00;
}
.team__item {
  width: 203px;
}
.team__item-portret {
  border-radius: 50%;
  overflow: hidden;
}
.team__item-name {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #2C2D2E;
  margin-top: 12px;
}
.team__item-position {
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  color: #919399;
  margin-top: 4px;
  margin-bottom: 16px;
}
.team__item-tel {
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  margin-bottom: 4px;
}
.team__item-email {
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  color: #2C2D2E;
  margin-top: 8px;
}
.team__link {
  padding: 10px 20px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #EF7C00;
  border: 1px solid #EF7C00;
  border-radius: 5px;
}
.team__link-center {
  text-align: center;
  margin-top: 62px;
}

.news {
  padding-top: 40px;
  padding-bottom: 51px;
}
.news__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #2C2D2E;
  margin-bottom: 32px;
}
.news__title-center {
  text-align: center;
}
.news__date {
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: #919399;
  margin-top: 24px;
  margin-bottom: 8px;
}
.news__desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #2C2D2E;
}

.contacts {
  padding-top: 40px;
  padding-bottom: 44px;
  background: rgba(0, 16, 61, 0.06);
}
.contacts__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #2C2D2E;
  margin-bottom: 32px;
}
.contacts__country {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2C2D2E;
}
.contacts__tel {
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: #919399;
  margin-top: 24px;
  margin-bottom: 8px;
}
.contacts__number {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #2C2D2E;
}
.contacts__email {
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: #919399;
  margin-top: 12px;
  margin-bottom: 8px;
}
.contacts__address {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #2C2D2E;
}
.contacts__location {
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: #919399;
  margin-top: 12px;
  margin-bottom: 8px;
}
.contacts__street {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #2C2D2E;
  width: 260px;
}
.contacts .col-3 {
  position: relative;
}
.contacts .col-3::before {
  content: "";
  position: absolute;
  top: 0;
  left: -17px;
  width: 1px;
  height: 287px;
  background: #c7c7c7;
}
.contacts .col-3:first-child::before {
  display: none;
}

.map {
  text-align: center;
}

.footer {
  height: 403px;
  background: rgba(0, 16, 61, 0.06);
  padding: 30px 0 30px;
}
.footer__btn {
  width: 68px;
  height: 68px;
  box-shadow: 0px 4px 32px rgba(0, 16, 61, 0.16);
  border-radius: 58px;
  background: #FFFFFF;
  border: none;
  position: relative;
  top: 50%;
  text-align: center;
  line-height: 68px;
}
.footer__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 26px;
  position: relative;
}
.footer__link::before {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 1px;
  background: #919399;
}
.footer__link-social {
  display: flex;
  gap: 24px;
  align-items: flex-end;
}
.footer__link-main {
  width: 116px;
}
.footer__nav {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.footer__nav-item {
  width: 203px;
}
.footer__nav-item-block {
  margin-bottom: 24px;
}
.footer__nav-item-country {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #EF7C00;
  margin-bottom: 12px;
}
.footer__nav-item-tel {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #2C2D2E;
  margin-bottom: 8px;
}
.footer__nav-item-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #2C2D2E;
  margin-bottom: 24px;
}
.footer__nav-link {
  margin-bottom: 12px;
}
.footer__nav-link-desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2C2D2E;
  margin-top: 12px;
}
.footer__finish {
  width: 300px;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: #919399;
}

@media screen and (max-width: 1100px) {
  .nav .BurgerMenu {
    display: block;
    position: absolute;
  }
  .nav__list {
    display: none;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    gap: 0;
    transition: 0.5s;
    z-index: 2;
    background: rgba(233, 214, 180, 0.2);
    transition: 0.4s;
  }
  .nav__list-link:hover {
    color: #EF7C00;
  }
  .nav__list.active {
    display: flex;
  }
}/*# sourceMappingURL=style.css.map */